* {
	margin: 0;
	padding: 0
}

#wrap {
	width: 1200px;
	height: 1000px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
}

#contents {
	float: left;
	width: 1200px;
	height: 800px;
	background: #fff;
	border-radius: 15px 15px 15px 15px/15px 15px 15px 15px;
	color: black;
	margin-top: 90px;
}

#footer {
	border-top: 1px solid #dbdbdb;
}

h2 {
	display: inline-block;
	width: 880px;
}

.approve_top {
	width: 1200px;
	height: 80px;
	background-color: rgb(23, 22, 82);
	border-radius: 15px 15px 0px 0px/15px 15px 0px 0px;
	font-family: 'Noto Sans KR', sans-serif;
}

.approve_bottom {
	width: 1200px;
	height: 720px;
}

.approve_content {
	width: 1000px;
	height: 620px;
	margin: 10px 100px 50px 100px;
	text-align: left;
}

/*approve_top p= 대메뉴 smenu= 소메뉴*/
.approve_top p {
	font-size: 40px; 
	text-align: left;
	margin: 0 0 0 15px; 
	color: #f4f4f4; 
	width: 300px;
	float: left;
}

.smenu{
	float: right; 
	margin: 50px 20px 0 0; 
	color: #fff; 
	font-size: 14px;
}

.smenu a{
	color: #fff; 
	cursor: pointer; 
}

.smenu a:hover{
	color: rgb(193, 224, 253);
}

.p1 {
	font-size: 16px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.p2 {
	font-size: 14px;
	margin-left: 15px;
}

.p3 {
	font-size: 14px;
	margin-left: 15px;
	width: 900px;
	height: 300px;
}

.p4 {
	font-size: 13px;
	margin-left: 600px;
	color: #333;
}

.content_detail{
	width: 800px; height: 500px;
}
 
.c0 {
	padding-left: 110px;
}

.c1 {
	padding-left: 20px;
}

.c2 {
	padding-left: 50px;
}

.c3 {
	padding-left: 80px;
}

.c4 {
	padding-left: 450px;
}


.tab {
	float: left;
	border: none;
	width: 100%;
	height: 300px;
}

.tab button {
	display: block;
	background-color: inherit;
	color: #fff;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
}

.tablinks {
	color: #ddd;
	background-color: rgb(23, 22, 82);
	border-radius: 15px 0px 0px 0px/15px 0px 0px 0px;
}

.tablinks:hover {
	background-color: rgb(30, 29, 78);
}

.tab button.active {
	color: #ccc;
}

.tablinks {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
}

.tabicon {
	float: right;
	color: #ccc;
}



.hidetab {
	display: none;
	font-size: 14px;
}

.hidetab p {
	padding: 5px 15px 10px 5px;
}

.hidetab p:hover {
	background-color: #30315a;
}

.footer {
	text-align: center;
	padding: 30px 50px;
	color: black;
}

.footer li {
	position: relative;
	display: inline;
	padding: 0 7px 0 10px;
	white-space: nowrap;
}

.footer li::before {
	content: '';
	width: 1px;
	height: 12px;
	background-color: #dbdbdb;
	position: absolute;
	left: 0;
	top: 2px;
}

.footer li:first-child::before {
	width: 0;
}

.footer address {
	padding-top: 15px;
}

.approve_top p {
	font-size: 40px;
	text-align: left;
	margin: 0 0 0 15px;
	color: #f4f4f4;
}

.line {
	color: #eee;
	margin: 0px 60px 10px 60px;
}

.line2 {
	border: 1px solid rgb(240, 240, 240);
	margin: 10px 100px 5px 100px;
}

.line3 {
	color: #eee;
	margin: 10px 60px 10px 60px;
}

.search {
	padding: 6px;
	border: 1px solid rgb(226, 226, 226);
	margin-top: 30px;
	font-size: 15px;
}

.search2 {
	padding: 6px;
	border: 1px solid rgb(226, 226, 226);
	margin-top: 30px;
	font-size: 15px;
}

.search:focus {
	outline: 1px solid hsl(0, 0%, 81%);
}

.btn {
	text-align: left;
	margin-right: 100px;
}

/* 이전 글 */
.prev_btn {
	border: 0;
	padding: 5px 10px 5px 10px;
	background-color: #2a3277;
	margin-top: 10px;
	margin-left: 10px;
	color: #fff;
	float: right;
}

.prev_btn:hover {
	background-color: #829ae9;
	cursor: pointer;
}

/* 다음 글 */
.next_btn {
	border: 0;
	padding: 5px 10px 5px 10px;
	background-color: #2a3277;
	margin-top: 10px;
	margin-left: 10px;
	color: #fff;
	float: right;
}

.next_btn:hover {
	background-color: #829ae9;
	cursor: pointer;
}

/* 목록으로 */
.list_btn {
	border: 0;
	padding: 5px 10px 5px 10px;
	background-color: #2a3277;
	margin-top: 10px;
	margin-left: 10px;
	color: #fff;
	float: right;
}

.list_btn:hover {
	background-color: #829ae9;
	cursor: pointer;
}

/* 수정 */
.update_btn {
	border: 0;
	padding: 5px 10px 5px 10px;
	background-color: #2a3277;
	margin-top: 10px;
	margin-left: 10px;
	color: #fff;
	float: right;
}

.update_btn:hover {
	background-color: #829ae9;
	cursor: pointer;
}

/* 삭제 */
.delete_btn {
	border: 0;
	padding: 5px 10px 5px 10px;
	background-color: #2a3277;
	margin-top: 10px;
	margin-left: 10px;
	color: #fff;
	float: right;
}

.delete_btn:hover {
	background-color: #829ae9;
	cursor: pointer;
}

.pagination {
	display: inline-block;
	font-size: 16px;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}