* {
  margin: 0;
  padding: 0;
}

#footer {
  font-size: 13px;
  /*하단 고정*/
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

input:focus{
  outline: 0;
}

::-webkit-input-placeholder {
  font-size:1em;
}

:-moz-placeholder { 
  font-size:1em; 
}

::-moz-placeholder {  
  font-size:1em; 
}

body {
/* background:url(http://blogs.sap.com/innovation/files/2013/09/274651_h_ergb_s_gl.jpg) no-repeat 0 0; */
  background-size:cover;
  font-family:Verdana;
  font-size:0.9em;
}

.registration {
  font-size:1.8em;
  color: rgb(53, 53, 53);;
  text-align:center;
  font-family: 'Noto Sans KR', sans-serif;
}

#registrationform {
  width:500px;
  height:auto;
  margin:4% auto;
}

#inputlbl{
  padding:0px 0px 0px 20px;
  background:rgba(255,255,255,0.8);
  border-radius:5px;
}

#registrationform .inputsnlables:last-child { border-bottom:none; }

.inputsnlables {
  overflow:auto;
  border-bottom:1px solid #dedede;
}

label {
  display:block;
  font-size:1.2em;
  color:#767676;
  padding:20px 0px;
  width:100px;
  float:left;
  font-weight:bold;
}

input {
  border:none;
  padding:20px 0px;
  background:transparent;
  width:230px;
  font-size:1.2em;
}

input[type=text],input[type=password] {
  font-size:1.2em;
  padding:20px 0px;
}

button[type=submit] {
  background:#2a3277;
  text-align:center;
  width:100%;
  height: 56px;
  border-radius:5px;
  font-size:1.3em;
  color:#fff;
  margin-top:10px;
  cursor:pointer;
  -webkit-transition:0.5s ease;
  -moz-transition:0.5s ease;
  transition:0.5s ease;
  border: none;
}


button[type=submit]:hover{
  background:#829ae9;
  -webkit-transition:0.5s ease;
  -moz-transition:0.5s ease;
  transition:0.5s ease;
}


/* logo */
.logo{width:1200px; margin:0 auto; overflow:hidden}
.logo h1{display:block; float:left; zoom:1;width:110px; height:44px; margin-top:22px;}
.logo h1 a{text-decoration:none;display:block;}
.logo h1 .logo-link{width:80px;height:45px;}
.logo h1 .iconfont{display:block;color:rgb(23, 22, 82);font-weight:400}
.logo h1 .tb-logo-cn{position:relative;font-size:36px;top:-9px}
.logo h1 .tb-logo-url{font-size:50px;position:relative;top:-52px}
.logo h2{display:inline-block;zoom:1;*display:inline;height:44px;line-height:44px;margin-left:24px;font-size:20px;color:#3c3c3c;vertical-align:middle}
.logo .link{float:right;line-height:44px;color:#666;font-size:12px;text-decoration:none}
.logo .link:hover{color:rgb(23, 22, 82);}
.logo .link .iconfont{font-size:16px;color:rgb(23, 22, 82);}

/* footer */
address {
	font-style:normal;
	font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5B8B\4F53,sans-serif;
	font-size: 13px;
}
address strong {
	color: rgb(23, 22, 82);
}