
* {   margin: 0;padding: 0}
/* body {background: #f2f5f6;} */
#wrap {width: 1200px; height: 1100px; margin:0 auto;  
    color:#fff; text-align: center; }
#logo { width:1200px; height: 80px;  } 
/*#nav { width:1200px; height: 100px;  }*/

#contents {float: left; width:1200px; height: 800px;  background: #fff;
    border-radius: 15px 15px 15px 15px / 15px 15px 15px 15px; color:black; margin-top: 90px;}
.vacation_top{width:1200px; height:80px; background-color:rgb(23, 22, 82) ;
  border-radius: 15px 15px 0px 0px / 15px 15px 0px 0px;font-family: 'Noto Sans KR', sans-serif;}
/*vacation_top p= 대메뉴 smenu= 소메뉴*/
.vacation_top p {font-size: 40px; text-align: left;margin: 0 0 0 15px; color: #f4f4f4; width: 300px;float: left;}
.smenu{ float: right; margin: 50px 20px 0 0; color: #fff; font-size: 14px;}
.smenu a{color: #fff; cursor: pointer; }
.smenu a:hover{color: rgb(193, 224, 253);}
.vacation_bottom{width:1200px; height:680px;}
.write {width:1000px; height:610px; margin:50px 100px 20px 100px; text-align: left;}
.write p{font-size: 15px;}
.c0 {padding-left: 110px;}
.c1 {padding-left: 20px;}  
.c2 {padding-left: 50px;}  
.c3 {padding-left: 80px;}  
.c4 {padding-left: 450px;}  
/* #footer {clear:both; width:1200px; height: 120px; } */
#footer {border-top: 1px solid #dbdbdb;}


.logo {text-align: left; margin:0 0 0 15px; padding-top: 100px;}




body {
  margin: 0;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 470px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* footer */
.footer {text-align: center; padding: 30px 50px;color:black;}
.footer li {position: relative; display: inline; padding: 0 7px 0 10px; white-space: nowrap;}
.footer li::before {content: ''; width: 1px; height: 12px; background-color: #dbdbdb;
  position: absolute; left: 0; top: 2px;}
.footer li:first-child::before {width: 0;}
.footer address {padding-top: 15px;}



.mail_top p {font-size: 40px; text-align: left;margin: 0 0 0 15px; color: #f4f4f4;}
.line {color: #eee; margin: 0px 60px 10px 60px;}
.line2 {border:1px solid rgb(240, 240, 240); margin:10px 100px 5px 100px;}
.line3 {color: #eee; margin: 10px 60px 10px 60px;}

.search {
  padding: 6px;
  border:1px solid rgb(226, 226, 226);
  margin-top: 30px;
  font-size: 15px;
  
}
.search2 {padding: 6px ;
  border:1px solid rgb(226, 226, 226);
  margin-top: 30px;
  font-size: 15px;}
.search:focus {outline:1px solid hsl(0, 0%, 81%);}
.delete_btn {border: 0; margin-left: 700px; padding: 2px 5px 2px 5px; background-color: #e6e6e6;}

.pagination {
  display: inline-block;
  font-size: 16px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.save_btn {border:0; padding:5px 10px 5px 10px; background-color: #2a3277; color:#fff; font-size: 15px; margin-left: 10px;float:right;}
.save_btn:hover{background-color:#1f276b; cursor: pointer;}

.list_btn {border:0; padding:5px 10px 5px 10px; background-color: #2a3277; color:#fff; font-size: 15px;float:right;}
.list_btn:hover{background-color:#1f276b; cursor: pointer;}

.send_btn {border:0; padding:5px 10px 5px 10px; background-color: #2a3277; color:#fff; font-size: 15px; margin-left: 10px;float:right;}
.send_btn:hover{background-color:#1f276b; cursor: pointer;}
.textarea:focus {outline:1px solid hsl(0, 0%, 81%);}
.address_btn{border: 0; margin-left: 5px; padding: 5px 10px 5px 10px; background-color: #adbcee; color: #fff;}
.address_btn:hover{background-color:#829ae9; cursor: pointer;}