
* {   margin: 0;padding: 0}
/* body {background: #f2f5f6;} */
#wrap {width: 1200px; height: 1100px; margin:0 auto;  
    color:#fff; text-align: center; }
#logo { width:1200px; height: 80px;  } 
/*#nav { width:1200px; height: 100px;  }*/

#contents {float: left; width:1200px; height: 800px;  background: #fff;
    border-radius: 15px 15px 15px 15px / 15px 15px 15px 15px; color:black; margin-top: 90px;}
.vacation_top{width:1200px; height:80px; background-color:rgb(23, 22, 82) ;
  border-radius: 15px 15px 0px 0px / 15px 15px 0px 0px;font-family: 'Noto Sans KR', sans-serif;}
/*vacation_top p= 대메뉴 smenu= 소메뉴*/
.vacation_top p {font-size: 40px; text-align: left;margin: 0 0 0 15px; color: #f4f4f4; width: 300px;float: left;}
.smenu{ float: right; margin: 50px 20px 0 0; color: #fff; font-size: 14px;}
.smenu a{color: #fff; cursor: pointer; }
.smenu a:hover{color: rgb(193, 224, 253);}
.vcheck_bottom{width:1200px; text-align: center;}


th{width:150px; height: 30px; font-size: 16px;}
td{border: 1px solid #eee; height:30px; text-align: center;}
/* td{border-bottom: 1px solid #333;} */
table{
  border-collapse: collapse;
  border-spacing: 0px;
}
.table1{ overflow: scroll;	overflow-x: hidden; width: 1000px;	height: 400px; margin-left: 100px; margin-right: 100px;}
.select{margin: 30px 0 10px 100px; text-align: left;}


/* #footer {clear:both; width:1200px; height: 120px; } */
#footer {border-top: 1px solid #dbdbdb;}



.logo {text-align: left; margin:0 0 0 15px; padding-top: 100px;}



.hidetab{display:none; font-size: 14px; }
.hidetab p { padding: 5px 15px 10px 5px;}
.hidetab p:hover{background-color: #30315a;}







body {
  margin: 0;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 470px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* footer */
.footer {text-align: center; padding: 30px 50px;color:black;}
.footer li {position: relative; display: inline; padding: 0 7px 0 10px; white-space: nowrap;}
.footer li::before {content: ''; width: 1px; height: 12px; background-color: #dbdbdb;
  position: absolute; left: 0; top: 2px;}
.footer li:first-child::before {width: 0;}
.footer address {padding-top: 15px;}

